<section id="page-title" style="background: #042355;">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3 style="color: #ffffff;">Conatct Us</h3>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="bread">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="">Home</a>
							</li>
							<li class="breadcrumb-item"><a href="">Contact Us</a>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="courses" style="text-align: center;">
	<div class="content-box-about">
		<div class="content-title" data-wow-duration="1s" data-wow-delay=".5s">
			<h3>Get in Touch</h3>
			<div class="content-titel-underline"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="contact-icon">
						<img src="./assets/location.png" alt="Location">
					</div>
					<div class="contact-text">
						<p>Chandan Nagar, Kharadi,
							<br>Pune - 411 014.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="contact-icon">
						<img src="./assets/phone.png" alt="Location">
					</div>
					<div class="contact-text">
						<p>+91 7972210705</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="contact-icon">
						<img src="./assets/mail.png" alt="Location">
					</div>
					<div class="contact-text">
						<p>info@website.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="footer site-main">
	<div id="particles-js" class="site-bg">
		<div class="site-bg-img"></div>
		<div class="site-bg-video"></div>
		<div class="site-bg-overlay"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="footer-title">
					<h4>Digi School</h4>
				</div>
				<div class="footer-desc">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						Lorem Ipsum has been the industry's standard dummy text ever since the
					    Lorem Ipsum has been the industry's standard dummy text ever since the
					</p>
				
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-md-push-1 col-sm-12 col-xs-12">
				<div class="footer-title">
					<h4>USEFUL LINKS</h4>
				</div>
				<div class="footer-link">
					<ul>
						<li style="list-style: none;">
							<span class="text-style"><a routerLink="home">Home</a></span>
						</li>
						<li style="list-style: none;">
							<span class="text-style"><a routerLink="about">About Us</a></span>
						</li>
						<li style="list-style: none;"> 
							<span class="text-style"><a routerLink="login">Login</a></span>
						</li>
						<li style="list-style: none;">	
							<span class="text-style"><a routerLink="register">Registertion</a></span>
						</li>
						<li style="list-style: none;">	
							<span class="text-style"><a routerLink="contact">Contact Us</a></span>
						</li>
					
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="footer-title">
					<h4>Contact Us</h4>
				</div>
				<div class="footer-desc">
				   <p>Address: Chandan Nagar, Kharadi, Pune - 411 014.</p>
				   <p>Phone Number: +91 7972210705</p>
				   <p>Email Id: info@example.com</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="bottom-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="copyright-text">
					<p style="color:#ffffff">@2018 Angular Design - Designe by<a href="" target="_blank" rel="nofollow"> Yess Infotech</a>
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="social-icon">
					<ul class="list-inline">
						<li>	<a href="#" class="textwidget fb"><i class="fa fa-facebook" aria-hidden="true"></i>
	</a>
						</li>
						<li>	<a href="#" class="textwidget ld"><i class="fa fa-linkedin" aria-hidden="true"></i>
	</a>
						</li>
						<li>	<a href="#" class="textwidget gp"><i class="fa fa-google-plus" aria-hidden="true"></i>
	</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>