
.bg-dark {
    background-color: #ffffff!important;
    box-shadow: 0px 2px 5px #949090;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: #000000;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:#ffffff;
    background-color: #FF1493;
}
.navbar-brand {
    padding-top: 0.1000rem;
    padding-bottom: .2125rem;
    margin-right: 10rem;
}