<section id="slider">
    <div id="myCarousel" class="carousel slide carousel-fade" data-interval="5000" data-ride="carousel">
        <div class="">
            <div class="carousel-inner" style="background: #1c264e;">

                  
						<div class="item active">
							<div class="slider-padding">
								<div class="container-fluid">
								<img src="" class="img-responsive slider-img-center" alt="">
									
									
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 slideLeft">
											<div class="text-color align-center" style="text-align:center;">
												<h1>Welcome </h1>
		                                        <p>Lorem Ipsum is simply dummy text<br> of the printing and typesetting</p>
												<div id="home-btn">
													<a href="" class="btn btn-dark btn-theme-colored2 btn-xl">Contact Us</a>
												</div>
											</div>
										</div>
					                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 slideRight" style="text-align: center;">
											<img src="./assets/preview-3.png" class="img-responsive slider-img-center" alt="">
										</div>
									</div>
									
								</div>
							</div>
						</div>
			</div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</section>


<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="main-text" style="text-align:center">
					<p>Digi School is Digital Marketing Training Institute in Pune
						<br>We have the Expertise and Skills that you need</p>
				</div>
				<div class="img" style="text-align: center;">
					<img src="./assets/hero.png" class="img-responsive hero">
				</div>
			</div>
		</div>
	</div>
</section>


<section class="footer site-main">
	<div id="particles-js" class="site-bg">
		<div class="site-bg-img"></div>
		<div class="site-bg-video"></div>
		<div class="site-bg-overlay"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="footer-title">
					<h4>About Us</h4>
				</div>
				<div class="footer-desc">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						Lorem Ipsum has been the industry's standard dummy text ever since the
					    Lorem Ipsum has been the industry's standard dummy text ever since the
					</p>
				
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-md-push-1 col-sm-12 col-xs-12">
				<div class="footer-title">
					<h4>USEFUL LINKS</h4>
				</div>
				<div class="footer-link">
					<ul>
						<li style="list-style: none;">
							<span class="text-style"><a routerLink="home">Home</a></span>
						</li>
						<li style="list-style: none;">
							<span class="text-style"><a routerLink="about">About Us</a></span>
						</li>
						<li style="list-style: none;"> 
							<span class="text-style"><a routerLink="login">Login</a></span>
						</li>
						<li style="list-style: none;">	
							<span class="text-style"><a routerLink="register">Registertion</a></span>
						</li>
						<li style="list-style: none;">	
							<span class="text-style"><a routerLink="contact">Contact Us</a></span>
						</li>
					
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="footer-title">
					<h4>Contact Us</h4>
				</div>
				<div class="footer-desc">
				   <p>Address: Chandan Nagar, Kharadi, Pune - 411 014.</p>
				   <p>Phone Number: +91 7972210705</p>
				   <p>Email Id: info@example.com</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="bottom-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="copyright-text">
					<p style="color:#ffffff">@2018 Angular Design - Designe by<a href="" target="_blank" rel="nofollow"> Yess Infotech</a>
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="social-icon">
					<ul class="list-inline">
						<li>	<a href="#" class="textwidget fb"><i class="fa fa-facebook" aria-hidden="true"></i>
	</a>
						</li>
						<li>	<a href="#" class="textwidget ld"><i class="fa fa-linkedin" aria-hidden="true"></i>
	</a>
						</li>
						<li>	<a href="#" class="textwidget gp"><i class="fa fa-google-plus" aria-hidden="true"></i>
	</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

